# The notebook is to analyse the one_url_for_each_year

In [1]:
import pandas as pd 

df = pd.read_csv("../one_url_for_each_year.csv")
df.head()

,year,url_host_name,url_host_registered_domain,warc_filename,url,warc_record_offset,warc_record_length,ranking
0,2016,www.psoe.es,psoe.es,crawl-data/CC-MAIN-2016-07/segments/1454701159...,http://www.psoe.es/,619604478,9554,1
1,2019,www.bjiff.be,bjiff.be,crawl-data/CC-MAIN-2019-04/segments/1547584203...,http://www.bjiff.be/,260194590,7865,1
2,2015,www.ddbst.de,ddbst.de,crawl-data/CC-MAIN-2015-06/segments/1422122030...,http://www.ddbst.de/,568649416,5641,1
3,2017,www.frankfurter-stiftungen.de,frankfurter-stiftungen.de,crawl-data/CC-MAIN-2017-09/segments/1487501171...,http://www.frankfurter-stiftungen.de/?submit=S...,410540297,8006,1
4,2019,www.pd2h.nl,pd2h.nl,crawl-data/CC-MAIN-2019-04/segments/1547583743...,http://www.pd2h.nl/,365392942,8588,1

In [3]:
len(df)

3735773

In [5]:
df.groupby("url_host_name").count().describe()

,year,url_host_registered_domain,warc_filename,url,warc_record_offset,warc_record_length,ranking
count,669485.000000,669485.000000,669485.000000,669485.000000,669485.000000,669485.000000,669485.000000
mean,5.580070,5.580070,5.580070,5.580070,5.580070,5.580070,5.580070
std,2.717694,2.717694,2.717694,2.717694,2.717694,2.717694,2.717694
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
75%,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [7]:
# collect the dataset for there urls